.container-birthdays{
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: aqua; */
}

.box-birthdays{
    width: 75%;
    margin: 0 4%;
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ecebf4;
}

.box-birthdays .noBirthDayBoys{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: aquamarine; */
 }
.box-birthdays .noBirthDayBoys img{
    width: 50%;
 }
 .box-birthdays .noBirthDayBoys p{
    font-size: 1.4rem;
    color: #c39fd5da;
    font-weight: 500;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }