.home-container{
    width: 100%;
    min-height: 90vh;
    display: flex;
}

.flex-templates{
    max-width: 85%;
    padding: 4% 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    grid-gap: 5rem;
}