.home-container{
    width: 100%;
    min-height: 90vh;
    display: flex;
}

.flex-templates{
    width: 85%;
    padding: 4% 5% 4% 7%;
    display: block;
}

.buttons-templates{
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 12%;
}
.plantillas{
    width: 100%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    grid-gap: 5.5rem;
}

.border-box-input {
    /*  box-sizing: border-box; */
     border-radius: 30px;
     padding: 10px;
     width: 80%;
     /* Otros estilos personalizados aquí si es necesario */
   }
 
   .label-styled{
     font-size: 1rem;
    text-align: center;
    margin-top: 20px;
   }