
.flex-work_area {
  min-height: 90vh;
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 228, 196, 0.217);
}

.tools-left, .tools-right {
  width: 10%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; /* Agregamos posición relativa para que z-index funcione */
  z-index: 1; /* Capa inferior */
  gap: 1rem;
  background-color: #908b8b;
}
.shapes-options, .text-options, .draw-options {
    min-width: 100%;
  padding: 10%;
  position: absolute; /* Cambiamos a posición absoluta */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  left: 100%; /* Colocamos shapes-options a la derecha de tools-left */
  z-index: 5; /* Capa superior para que aparezca sobre los otros elementos */
  background-color: #d9d9d9;
}
.shapes-options button {
    width: 55%;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}
.text-options{
  top: 20%;
}
.draw-options{
    top: 40%;
}

.upload-image {
  width: 90%;
}
#image-upload {
  display: none;
}
.upload-label {
  width: 100%;
  margin-top: 5%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  color: white;
  font-weight: 500;
  transition: background-color 0.3s, color 0.3s;
}
.upload-label img{
  width: 36%;
}
.upload-label:hover {
  background-color: #8a8484;
  border-radius: 8px;
}

.backgroundcolor{
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.backgroundcolor input{
  width: 40%;
  height: 60%;
  background-color: #5c73f8d1;
  border: none;
}
.backgroundcolor label{
  width: 55%;
  color: white;
  font-weight: 500;
}

.redo-undo{
   width: 80%;
   margin-top: 15%;
    display: flex;
    gap: 10px;
}
.redo-undo button {
    background-color: #c8c7fd;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.redo-undo button img{
    width: 45%;
}
.redo-undo button:hover {
  background-color: #c0bfff;
}

.buttons-right{
    width: 100%;
    position: absolute;
    bottom: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.buttons-right .btn-save, .buttons-right .btn-cancel, .buttons-right .btn-export, .buttons-right .btn-restore{
    width: 90%;
    padding: 5px 0;
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 1rem;
}
.buttons-right .btn-save{
    background: green;
}
.buttons-right .btn-cancel{
    background: #E83E3E;
}
.buttons-right .btn-export{
  background: #5138EE;
}

.buttons-right .btn-restore{
  background: blue;
}

.container-canvas {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(243, 243, 243, 0.877);
}

.sample-canvas {
  width: 600px;
  height: 90%;
  background-color: rgb(255, 255, 255);
}

/* 
canvas{
    margin: auto;
} */