.flex-work_area {
  height: 90vh;
  display: flex;
  justify-content: space-between;
  background-color: rgba(255, 228, 196, 0.217);
}

.tools-left, .tools-right {
  width: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative; /* Agregamos posición relativa para que z-index funcione */
  z-index: 1; /* Capa inferior */
  gap: 1rem;
  background-color: #908b8b;
}
.shapes-options, .text-options, .draw-options {
    min-width: 100%;
  padding: 10%;
  position: absolute; /* Cambiamos a posición absoluta */
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  left: 100%; /* Colocamos shapes-options a la derecha de tools-left */
  z-index: 5; /* Capa superior para que aparezca sobre los otros elementos */
  background-color: #d9d9d9;
}
/* .shapes-options {
    min-width: 90%;
} */
.shapes-options button {
    width: 55%;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: white;
    cursor: pointer;
}
.text-options{
  top: 20%;
}
.draw-options{
    top: 40%;
}

.redo-undo{
   width: 80%;
    display: flex;
    gap: 10px;
}
.redo-undo button {
    background-color: #c8c7fd;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.redo-undo button img{
    width: 45%;
}
.buttons-right{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}
.buttons-right .btn-save, .buttons-right .btn-cancel{
    width: 90%;
    padding: 5px 0;
    border-radius: 8px;
    border: none;
    color: white;
    font-weight: 700;
    font-size: 1rem;
}
.buttons-right .btn-save{
    background: #5138EE;
}
.buttons-right .btn-cancel{
    background: #E83E3E;
}

.container-canvas {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(243, 243, 243, 0.877);
}

.sample-canvas {
  width: 600px;
  height: 90%;
  background-color: rgb(255, 255, 255);
}

/* 
canvas{
    margin: auto;
} */
